In [24]:
def get_data():
    return pd.read_csv('../raw_data/cleaned_data_040321.csv')

def Xandy_stress(df):
    X=df[['BFF_15_1','BFF_15_2','BFF_15_3','BFF_15_4','BFF_15_5','BFF_15_6','BFF_15_7','BFF_15_8','BFF_15_9','BFF_15_10','BFF_15_11',
           'BFF_15_12','BFF_15_13','BFF_15_14','BFF_15_15','Dem_age','Dem_gender','Dem_edu','Dem_edu_mom','Dem_employment','Dem_Expat',
          'Dem_maritalstatus','Dem_riskgroup','Dem_isolation'
         ]].reset_index(drop=True).dropna()
    
    y=df['PSS10_avg'].round().astype(int)
    return X,y

In [34]:
def edu_func(X):
        
        X['Dem_edu']=X['Dem_edu'].replace({'Uninformative response':0,'None':1,'Up to 6 years of school':2, 'Up to 9 years of school':3, 'Up to 12 years of school':4, 'Some College, short continuing education or equivalent':5, 'College degree, bachelor, master': 6, 'PhD/Doctorate':7 })
        return  X[['Dem_edu']]

    
def edu_mom_func(X):    
        X['Dem_edu_mom'] = X['Dem_edu_mom'].replace({'Uninformative response':0,'None':1,'Up to 6 years of school':2, 'Up to 9 years of school':3, 'Up to 12 years of school':4, 'Some College or equivalent':5, 'College degree': 6, 'PhD/Doctorate':7 })
        return  X[['Dem_edu_mom']]


def edu_risk_group(X): 
        X['Dem_riskgroup'] = X['Dem_riskgroup'].replace({'No':1,'Not sure':2, 'Yes':3})    
        return  X[['Dem_riskgroup']]

def dem_expat_func(X):
        X['Dem_Expat'] = X['Dem_Expat'].replace({'no':0,'yes':1})
        return X[['Dem_Expat']]

stress_pred=joblib.load('model_stress.joblib')

In [38]:
data=get_data()
X,y=Xandy_stress(data)

columns=X.columns
values=[1,2,4,5,2,1,2,1,2,4,2,4,4,4,5,24,1,5,4,3,0,1,0,2]
user_data=pd.DataFrame([values],columns=columns)
user_data

,BFF_15_1,BFF_15_2,BFF_15_3,BFF_15_4,BFF_15_5,BFF_15_6,BFF_15_7,BFF_15_8,BFF_15_9,BFF_15_10,...,BFF_15_15,Dem_age,Dem_gender,Dem_edu,Dem_edu_mom,Dem_employment,Dem_Expat,Dem_maritalstatus,Dem_riskgroup,Dem_isolation
0,1,2,4,5,2,1,2,1,2,4,...,5,24,1,5,4,3,0,1,0,2

In [40]:
X.loc[[0]]

,BFF_15_1,BFF_15_2,BFF_15_3,BFF_15_4,BFF_15_5,BFF_15_6,BFF_15_7,BFF_15_8,BFF_15_9,BFF_15_10,...,BFF_15_15,Dem_age,Dem_gender,Dem_edu,Dem_edu_mom,Dem_employment,Dem_Expat,Dem_maritalstatus,Dem_riskgroup,Dem_isolation
0,2.0,2.0,5.0,5.0,5.0,2.0,5.0,6.0,5.0,2.0,...,5.0,20,Male,"College degree, bachelor, master",None,Student,yes,Single,Yes,Life carries on with minor changes

In [41]:
stress_pred.predict(X.loc[[0]])

array([2])

In [ ]:
# KNN

In [12]:
def get_data():
    return pd.read_csv('../raw_data/cleaned_data_040321.csv')

def Xandy(df):
    X=df.loc[:,'BFF_15_1':'BFF_15_15']
    y=df[['neu','ext','ope','agr','con']]
    return X,y

In [ ]:
# TO PREDICT FROM KNN JOBLIB FILE

In [22]:
import pandas as pd
data=get_data()
X,y=Xandy(data)

knn=joblib.load('knn.joblib')
knn.predict(X.iloc[[-1]])

array([[4.06666667, 2.71111116, 4.22222213, 3.33333338, 3.79999998]])

In [17]:
X

,BFF_15_1,BFF_15_2,BFF_15_3,BFF_15_4,BFF_15_5,BFF_15_6,BFF_15_7,BFF_15_8,BFF_15_9,BFF_15_10,BFF_15_11,BFF_15_12,BFF_15_13,BFF_15_14,BFF_15_15
0,2.0,2.0,5.0,5.0,5.0,2.0,5.0,6.0,5.0,2.0,4.0,6.0,5.0,2.0,5.0
1,4.0,3.0,4.0,4.0,4.0,4.0,4.0,5.0,4.0,3.0,4.0,4.0,4.0,4.0,4.0
2,5.0,4.0,5.0,5.0,4.0,5.0,5.0,5.0,5.0,3.0,5.0,5.0,5.0,3.0,5.0
3,5.0,4.0,5.0,4.0,4.0,5.0,4.0,4.0,5.0,2.0,2.0,5.0,5.0,4.0,5.0
4,5.0,2.0,5.0,4.0,4.0,4.0,5.0,5.0,5.0,2.0,3.0,6.0,6.0,1.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85484,1.0,2.0,5.0,3.0,3.0,3.0,6.0,5.0,4.0,2.0,6.0,6.0,5.0,1.0,6.0
85485,3.0,2.0,5.0,5.0,5.0,4.0,4.0,4.0,5.0,3.0,3.0,5.0,6.0,2.0,5.0
85486,5.0,5.0,3.0,2.0,4.0,5.0,4.0,5.0,6.0,4.0,4.0,5.0,4.0,4.0,3.0
85487,1.0,1.0,6.0,2.0,3.0,5.0,4.0,4.0,2.0,1.0,5.0,5.0,6.0,2.0,6.0
85488,4.0,4.0,3.0,3.0,3.0,5.0,3.0,5.0,5.0,3.0,2.0,3.0,5.0,4.0,4.0